.client_info_section {
    background: #FFFFFF;
}

.client_info_section .info_title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333547;
    text-decoration: underline;
}

.client_info_table {
    overflow: auto;
}

.client_info_table table {
    width: 100%;
    min-width: 700px;

}

.client_info_table table tr {}

.client_info_table table tr td {
    border: 1px solid #D8D8D8;
    font-size: 12px;
    font-weight: 700;
    color: #8F8F8F;
    padding: 8px 15px;

}

.client_info_table table tr td p {
    display: grid;
    grid-template-columns: 200px 20px 1fr;
}

.client_info_table table tr td:first-child {
    border-left: 1px solid #D8D8D8;

}

.client_info_table table tr td:last-child {
    border-right: 1px solid #D8D8D8;

}


.client_info_title {
    font-size: 18px;
    font-weight: 700;
    color: #5F5F5F;
    text-decoration: underline;
}

.customer_info_wraper {}

.customer_info_wraper h1 {
    font-size: 16px;
    font-weight: 700;
    color: #5F5F5F;
}

/* table two  */
.client_info_table_without_border {
   overflow: auto;

}

.client_info_table_without_border table {
    border-collapse: separate;
    border-spacing: 0 10px;
    min-width: 400px;
    width: 100%;
}

.client_info_table_without_border td {
    font-size: 12px;
    font-weight: 400;
    color: #8F8F8F;
}

.client_info_table_without_border td:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #5F5F5F;
    max-width: 180px;

}

.agent_info_label{
    
}