.shedule_title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333547;
    margin-bottom: 40px;
}

.psi_btn {

    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: #949494;
    padding: 5px 50px;
    border-radius: 8px;
}

.psi_customer_box {
    padding: 30px;
    border: 2px solid #949494;
    border-radius: 8px;
    margin-top: 10px;
}

.instalment_money_box {
    border: 2px solid #1F487C;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    height: fit-content;
}

.imb_top_title {
    position: absolute;
    left: 0;
    background: #533198;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 8px;
    left: 50%;
    top: 0%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}


.plus_img_wraper {
    background: #533198;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px 0;
    margin-left: auto;
}