#dashboard .dashboard_card {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 5px rgba(125, 65, 245, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 20px;
  }