.menu{
    display: block !important;
}
.sidebar .hide {
    overflow: hidden;
    max-height: 0;
    transition: .4s ease-in-out;
}

.sidebar .show{
    max-height: 500px;;
    transition: .4s ease-in-out;
    overflow: hidden;
}