.body_container {
}

// Common responsive table
.table_responsive {
  overflow: scroll;
  max-height: 500px;

  table {
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    overflow: scroll;
    border-collapse: separate;
    border-spacing: 0;

    thead {
      position: sticky;
      top: 0;
      background: white;

      th {
        background-image: url("/src/asset/images/table/thead.png");
        background-repeat: no-repeat;
        background-position: right top;
        font-style: normal;
        padding-right: 20px !important;
        font-weight: 700;
        font-size: 12px;
        min-width: 90px;
        width: 120px;
        vertical-align: text-bottom;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    tbody {
      tr {
        border: 1px solid rgba(0, 0, 0, 0.2);

        &:nth-child(odd) {
          background: #f9f5ff;
        }
        &:nth-child(even) {
          background: #ffffff;
        }
        td {
          word-wrap: break-word;
          font-size: 12px;
          color: #575757;
          margin-right: 20px;
          max-width: 120px;
          min-width: 120px;
          padding-right: 10px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 5px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);

          img {
            cursor: pointer;
          }
          &:last-child {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
          }
          &:first-child {
            border-left: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
// pagination component
.pagination {
  span {
    background: #6658dd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
}
// print pdf save button
.commonprintpdfbtn {
  button {
    background: #333547;
    padding: 4px 10px;
    color: white;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 14px;
  }
}

.common_input_wraper {
  label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    color: #717a82;
  }

  input {
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    outline: none;
    padding: 3px 16px;
    width: 100%;
    display: block;
    margin-top: 8px;
    font-size: 16px;
    &::placeholder {
      color: #b3b3b3;
      font-size: 12px;
    }
    &[type="date"] {
      font-family: Inter;
      font-size: 12px;
      font-weight: 700;
      color: #717a82;
    }
    &[type="file"] {
      font-family: Inter;
      font-size: 12px;
      font-weight: 700;
      color: #717a82;
      padding: 0;
      &::-webkit-file-upload-button {
        border: none;
        padding: 8px 20px;
        color: #575757;
      }
    }
    &:disabled {
      background: #c8c8c8;
      color: white;

      &::placeholder {
        color: #8d8d8d;
      }
    }
  }
}
// .instalment_money_box {
//   .date_input_wraper {
//     .common_input_wraper {
//       input {
//         border: 1px solid #c8c8c8;
//         border-radius: 5px 0 0 5px;
//         margin-top: 0;
//         &[type="date"] {
//           border-radius: 0 5px 5px 0;
//           outline: none;
//           padding: 3px 16px;
//           width: 100%;
//           display: block;
//           margin-top: 8px;
//           font-size: 16px;
//         }
//       }
//     }
//   }
// }

//
.common_date_with_input {
  .label_wraper {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    label {
      font-size: 14px;
      font-weight: 700;
      color: #717a82;
    }
  }
  .text_date_wraper {
    border: 1px solid #c8c8c8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    overflow: hidden;

    input {
      font-size: 12px;
      font-weight: 700;
      width: 100%;
      outline: none;
      padding: 5px 10px;
      // color: #8d8d8d;
      &[type="date"] {
        border-left: 1px solid #c8c8c8;
        color: #8d8d8d;
      }
    }
  }
}
//submit button
.submit_button {
  border-radius: 5px;
  color: white;
  background: #16a085;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 35px;
}

// add customer
.add_customer {
  background: #f0eafd;
  color: #717a82;
  border: 1px solid #6b2cea;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 30px auto;

  .plus {
    background: #6b2cea;
    color: white;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 20px;
  }
}
