
::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}


@media (max-width: 800px) {
  .commonprintpdfbtn button {
    margin-right: 5px;
    font-size: 10px;

  }
}